<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.eco.mapper.BoardMapper">

	<!-- <select id="getSearchedlist" resultType="com.goott.eco.domain.GoodsVO">
		 <![CDATA[
            SELECT goods_seq, category, goods_name, goods_detail, price, eco_score, danger_YN, sale_YN
            FROM(
                  SELECT /*+ INDEX_DESC (a pk_goods_seq) */ rownum rn, a.*
                  FROM goods a
                  WHERE
      ]]>
      	<if test="searchKeyword!=null and searchKeyword!=''">      
         <trim prefix="(" suffix=") AND" prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
               <trim prefix="OR">
                  <choose>
                     <when test="type == 'T'.toString()">
                        title like '%'||#{keyword}||'%'
                     </when>
                     <when test="type == 'C'.toString()">
                        content like '%'||#{keyword}||'%'
                     </when>
                     <when test="type == 'W'.toString()">
                        writer like '%'||#{keyword}||'%'
                     </when>
                  </choose>
               </trim>
            </foreach>
         </trim>
         </if>
			<choose>
				<when test="category!=null and category!=''">
					<![CDATA[
						category=#{category} and flag='I' and rownum <= #{pageNum}*#{amount} 
					]]>
				</when>
				<otherwise>
					<![CDATA[
						flag='I' AND rownum <= #{pageNum}*#{amount} 
					]]>
				</otherwise>
			</choose>
		<![CDATA[
				   )
			WHERE rn > (#{pageNum}-1)*#{amount} 
		]]>
	</select> -->
	
	<!-- <select id="boardGetTotalCount" resultType="int">
		SELECT count(bno)
		FROM tAuction.board
		<where>
			<if test="searchKeyword!=null and searchKeyword!=''">
				<trim prefix="(" suffix=") " prefixOverrides="OR" >
					<foreach item='searchType' collection="searchTypeArr">
						<trim prefix="OR" >
							<choose>
								<when test="searchType=='T'.toString()">
									title like '%' || #{searchKeyword} || '%'
								</when>
								<when test="searchType=='C'.toString()">
									contents like '%' || #{searchKeyword} || '%'
								</when>
								<when test="searchType=='W'.toString()">
									memberId like '%' || #{searchKeyword} || '%'
								</when>
							</choose>
						</trim>
					</foreach>
				</trim>
			</if>
			<if test="category!=null and category!=''">
				AND category=#{category} AND flag='I'
			</if>
			<if test="category==null and category==''">
				AND flag='I'
			</if>
		</where>
		
	</select>
   -->
   
 
   
</mapper>
