<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.eco.mapper.WishMapper">
	
	<select id="getWishList" resultType="hashMap">
		SELECT a.wish_seq,a.qty,b.goods_seq,b.goods_name, b.price,c.img_url 
		FROM ECO.wish_detail a LEFT OUTER JOIN ECO.GOODS b
		ON a.goods_seq = b.goods_seq
		LEFT OUTER JOIN ECO.GOODS_THUMB_NAIL c  
		ON a.goods_seq = c.goods_seq
		WHERE a.wish_SEQ IN (SELECT wish_seq FROM ECO.wish where cust_id=#{cust_id} AND delete_yn='N' AND purchase_yn='N') AND main_yn ='Y'
	</select>
	
	<select id="getGoodsInfo" resultType="com.goott.eco.domain.GoodsVOtest">
		SELECT * FROM eco.goods WHERE goods_seq=#{goods_seq}
	</select>
	
	<update id="delGoodsAtWish">
		UPDATE eco.wish_detail SET delete_yn='Y' WHERE goods_seq=#{goods_seq} and wish_seq in 
		(SELECT wish_seq FROM wish where cust_id =#{cust_id})
	</update>
	
	<update id="purGoodsAtWish">
		UPDATE eco.wish_detail SET purchase_yn='Y' WHERE goods_seq=#{goods_seq} and wish_seq in 
		(SELECT wish_seq FROM wish where cust_id =#{cust_id})
	</update>
	
	<select id="checkExistWish"  resultType='Long'>
		SELECT count(*) FROM eco.wish WHERE cust_id = #{cust_id}
	</select>
	
	<select id="checkSameGoods"  resultType='Long'>
		SELECT count(*) FROM eco.wish_detail WHERE goods_seq = #{goods_seq} and wish_seq=(SELECT wish_seq FROM WISH where cust_id=#{cust_id} ) and purchase_yn='N' and delete_yn='N'
	</select>
	
	<insert id="createWish">
		insert into wish values(seq_wish_seq.nextval,#{cust_id},default,#{cust_id},'','')
	</insert>
	
	<insert id="addGoodsAtWish">				
		INSERT into eco.wish_detail values((SELECT wish_seq FROM wish 
		WHERE cust_id in #{cust_id}),#{goods_seq},#{qty},default,default,default,#{cust_id},'','')	
	</insert>
	
	<update id="changeQtyAtWish">
		UPDATE eco.wish_detail SET qty=#{qty} WHERE goods_seq=#{goods_seq} and wish_seq in 
		(SELECT wish_seq FROM wish where cust_id =#{cust_id})
	</update>
	
	<select id="countWishGoods" resultType="int">
		SELECT count(*) FROM wish_detail where wish_seq = (select wish_seq from wish where cust_id=#{cust_id}) AND purchase_yn='N' AND delete_yn='N'
	</select> 
</mapper>