* {
  box-sizing: border-box;
}
body {
  /* background: rgb(44, 195, 34);
  background: linear-gradient(
    0deg,
    rgba(44, 195, 34, 1) 0%,
    rgba(45, 219, 253, 1) 99%
  ); */
}

.add-form {
  margin: 0px;
  color: coral;
}
.habits_middle {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}
button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  font-size: 2rem;
  padding: 0.5em;
  background-color: coral;
}
.navbar-log {
  color: green;
  margin-right: 0.5em;
}
.navbar-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  background-color: green;
  border-radius: 50%;
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;

  margin-left: 0.2em;
  margin-right: 0.5em;
  color: white;
  background-color: darkseagreen;
  border-radius: 50%;
}
/* .navbar-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  background-color: green;
  color: white;
  border-radius: 50%;
} */

/* icon G */
.habit {
  font-size: 2.5rem;
  padding: 0em;
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.habit-button {
  margin: auto;
  background-color: transparent;
  margin: 80px 30;
  width: 170px;
  height: 170px;
  line-height: 170px;
  /* background-color: yellow; */
  border: 1px solid blue;
  border-radius: 100px;
  margin-bottom: 16px;
}
.habit_tree {
  color: greenyellow;
  font-size: 12rem;
  margin: auto;
  text-align: center;
}

.habit_icon i {
  transition: all 300ms ease;
}
.habit_icon:hover i {
  opacity: 0.3;
  color: pink;
  transform: rotate(-30deg) scale(1.1);
}

.habit-water {
  color: blue;
  font-size: 6rem;
}
.habit-increase {
  color: tomato;
}
.habit-ginger {
  color: purple;
  font-size: 6rem;
}

/*prograss bar*/
h1 {
  text-align: center;
  margin-top: 30vh;
  font-size: 2.3em;
}

/* INDIVIDUAL BAR HOLDER */

.bar-holder {
  width: 60%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: auto;
}

/* INDIVIDUAL BAR'S STYLING, SAME GOES WITH OTHER BARS */

.bar-2 {
  width: 20%;
  background-color: rgb(22, 21, 21);
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

/* HERE'S ONE WITH GRADIENT WHICH LOOKS SUPER COOL */

.bar-5 {
  width: 100%;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  background-image: linear-gradient(100deg, rgb(38, 0, 255), red, yellow);
}
